#splash
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 99999
	background-color: #fff
	border-radius: 0
.animation-bg
	position: absolute
	top: 0
	bottom: 0
	width: 0
#left-part
	left: calc(50% - 224px)
	//transform: rotate(180deg)
	//right: calc(50% + 224px - 45px)
#right-part
	right: calc(50% - 224px + 45px)
.navbar
	padding: 10px 35px
.theme--dark.application, .theme--light.application
	background-color: #1976D2
	color: white
.fade-enter-active, .fade-leave-active
	transition: opacity .5s ease
.fade-enter, .fade-leave-active
	opacity: 0
.child-view
	position: absolute
	transition: all .5s cubic-bezier(.55,0,.1,1)
.slide-left-enter, .slide-right-leave-active
	opacity: 0
	-webkit-transform: translate(30px, 0)
	transform: translate(30px, 0)
.slide-left-leave-active, .slide-right-enter
	opacity: 0
	-webkit-transform: translate(-30px, 0)
	transform: translate(-30px, 0)
.theme--dark.v-list-item .v-list-item__subtitle, .theme--dark.v-list-item
	color: black
